<!DOCTYPE html>
<html>
	<head>
		<title>maidchan</title>
		<link rel="stylesheet" type="text/css" id="def_style" href="/static/css/maidchan.css">
		<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
		<link rel="icon" href="/static/img/favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="/static/js/maidchan-app.js"></script>
	</head>
	<body>
		<div id="logocontainer"><a href="/"><img id="logo" src="/static/img/maidchan.png" alt="maidchan"></a></div>
		<% db.execute("SELECT * FROM posts WHERE post_id=? OR parent=?", id, id).each do |row| %>
			<% unless row[1].nil? %>
				<meta property="og:title" content="<%= Sanitize.clean(row[1]) %> - maidchan">
				<meta property="og:description" content="<%= Sanitize.clean(row[2]) %>">
				<meta property="og:image" content="/static/img/small.png" />
			<% end %>
			<div id="reply">
				<% unless row[4].nil? %>
					<% unless row[4].end_with?(".webm") %>
						<a href="/uploads/<%= row[4] %>"><img src="/uploads/<%= row[4] %>" alt="404" onerror="this.onerror=null; this.src='/static/img/broken.png';" class="thumb"></a>
					<% else %>
						<video class="thumb" controls>
							<source src="/uploads/<%= row[4] %>" type="video/webm">
							Your browser does not support WebM files.
						</video>
					<% end %>
				<% end %>
				<span class="postcontainer">

				<span class="postinfo">
					<%= unless row[1].nil? then '<span style="color: #130be2;">' + Sanitize.clean(row[1]) + '</span>,' end %>
					<span style="color: #117743;"><%= Sanitize.clean(row[6]) %></span>,
					<%= row[8] %>
					<% if is_moderator?(session) %>
						(<%= row[5] %>)
						<a href="/delete/<%= row[0] %>" target="_blank"><i class="fa fa-trash" aria-hidden="true"></i></a>
					<% end %>
				</span><br>

				<% row[2].split("\n").each do |line| %>
					<% line = Sanitize.clean(line) %>
					<% splitted = line.split("&gt;", 2) %>
					<% unless splitted[1].nil? %>
						<span class="part"><%= splitted[0] + '<span class="greentext">&gt;' + splitted[1] + '</span>' %></span>
					<% else %>
						<span class="part"><%= splitted[0] %></span>
					<% end %><br>
				<% end %></span><br>
			</div>
		<% end %>
		<form method="post" action="/reply/<%= id %>" enctype="multipart/form-data">
			<input type="text" name="name" placeholder="Name">
			<input type="file" name="file">
			<textarea name="comment" id="reply_comment" placeholder="Comment here"></textarea>
			<input type="submit" name="submit" value="Reply">
		</form>
	</body>
</html>
